[submodule "dependencies/liquid"]
	path = dependencies/liquid
	url = https://github.com/bandicode/liquid.git
[submodule "dependencies/typeset"]
	path = dependencies/typeset
	url = https://github.com/bandicode/typeset.git
[submodule "dependencies/cpptok"]
	path = dependencies/cpptok
	url = https://github.com/bandicode/cpptok
[submodule "dependencies/json-toolkit"]
	path = dependencies/json-toolkit
	url = https://github.com/bandicode/json-toolkit.git
