[submodule "dependencies/liquid"]
	path = dependencies/liquid
	url = https://github.com/bandicode/liquid.git
[submodule "dependencies/typeset"]
	path = dependencies/typeset
	url = https://github.com/bandicode/typeset.git
[submodule "dependencies/dom"]
	path = dependencies/dom
	url = https://github.com/bandicode/dom.git
[submodule "dependencies/cxxast"]
	path = dependencies/cxxast
	url = https://github.com/bandicode/cxxast.git
[submodule "dependencies/dynlib"]
	path = dependencies/dynlib
	url = https://github.com/bandicode/dynlib.git
[submodule "dependencies/cpptok"]
	path = dependencies/cpptok
	url = https://github.com/bandicode/cpptok
